.ejemplo{
	display: flex;
	flex-direction: column;
	transition: 0.5s ease;
}

.ejemploTitulo{
	align-self: center;
	pointer-events: none;
	font-weight: bolder;
}

.ejemplo:hover{
	transform: scale(1.1);
}