.container{
	display: grid;
	grid-template-rows: auto;
	justify-content: center;
}

.textContainer{
	display: flex;
	width: 600px;
	flex-direction: column;
}

h2{
	font-size: 44px;
	font-weight: bold;
}

.description{
	
}

.media{
	min-width: 374px;
	min-height: 400px;
	margin: 20px 0;
	justify-self: center;
}


@media screen and (min-width: 768px){
	.container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: center;
		margin-left: 10%;
	}
}