@import 'variables';
@import 'contacto';
@import 'ejemplos';
@import 'home';
@import 'servicios';
@import 'tips';

$redes:(
	facebook: #3B5998,
	twitter: #55ACEE,
	instagram: #ea4c89
);

body{
	margin: 0;
	padding-top: 50px;
	background-color: $background-color;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	font-family: $main-font;
	overflow-y: scroll;
}

.title{
	margin-left: 20px;
	color: #ffffff ;
	font-family: $title-font;
	align-self: center;
	font-size: 20px;
	font-weight: bold;
}

.headerItem{
	transition: ease 0.6s;
	&:hover{
		transform: translateX(15px);
		@media screen and (min-width: 992px){
			transform: scale(1.2);

		}
	}
}

.socialMedia{
	
	.smIcon{
		color: white;
		font-size: 24px;
		width: 30px;
		text-align: center;
		text-decoration: none;
		margin: 0 2px;
		padding: 4px 0;
		border-radius: 4px;

	}
	@each $red,$color in $redes{
		.fa-#{$red}{
			background-color: $color;
		}
	}
}