.d-flex {
	h2{
		padding-top: 30px;
		font-family: 'Mochiy Pop P One', sans-serif;
		font-size: 44px;
		color: #03001d;
		margin-bottom: 0;
		animation: right-to-left 2s ease;
		@media screen and (min-width: 768px){
			font-size: 48px;
		}
	}
	.description{
		max-width: 50%;
		font-size: 24px;
		padding: 20px 0;
		animation: left-to-right 2s ease;
		@media screen and (min-width: 768px){
			font-size: 28px;
		}
	}
}

@keyframes left-to-right{
	0% {transform: translateX(-750px);}
	100% {transform: translateX(0px);}
}
		
@keyframes right-to-left{
	0% {transform: translateX(750px);}
	100% {transform: translateX(0px);}
}